body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-image: url(images/wood.jpg);
  background-size: cover;
  box-sizing: border-box;
}

:root {
  --white: rgb(241 234 234);
  --light: #eee7;
  --yellow: #ffb107;
  --title: #b8810b;
  --dark: #555;
}

.container {
  width: 900px;
  background-image: url("images/bg.png");
  background-size: 30px;
  margin: 20px auto;
  padding: 3rem;
  /* box-sizing: border-box; */
  color: var(--light);
  font-family: system-ui;
  font-size: 12px;
}
